div.block.block-code code { font-family: monospace; padding: 0; }
div.block.block-cover { position: relative; }
div.block.block-cover img { width: 100%; }
div.block.block-cover span { bottom: 40px; color: white; font-style: italic; font-size: 1.5em; font-weight: bold; left: 40px; line-height: normal; position: absolute; text-shadow: 2px 2px black; }
div.block.block-colors table { width: 100%; }
div.block.block-colors table thead { border-bottom: 4px solid black; }
div.block.block-colors table thead tr th { font: bold 18px Georgia; padding-bottom: 5px; text-align: left; text-transform: uppercase; }
div.block.block-colors table tbody tr td { border-bottom: 1px dotted black; vertical-align: middle; }
div.block.block-colors table tbody tr td.circle { text-align: center; }
div.block.block-colors table tbody tr td.circle span { content: ""; display: inline-block; left: 0; height: 50px; margin: 5px 0 5px 0; top: 0; width: 50px; -webkit-border-radius: 60px; -moz-border-radius: 60px; border-radius: 60px; }
div.block.block-colors table tbody tr td.label { font-weight: bold; }
div.block.block-imageasset div.preview img { max-width: 100%; }
div.block.block-imageasset ul.image-assets li { font: normal 16px Helvetica; }
div.block.block-imageasset ul.image-assets li a { background: #1ABAFC; color: white; display: inline-block; padding: 2px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
div.block.block-imageasset ul.image-assets li span { margin-left: 5px; }
div.block.block-imageasset ul.image-assets .background { background-color: gray; }
div.block.block-photo.block-photo-full-bleed { width: 100%; }
div.block.block-photo.block-photo-full-bleed img { width: 100%; }
div.block.block-video div.video { height: 350px; margin: 20px 0; }

.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.hidden { display: none; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding-bottom: 50px; }
body a { color: #0088CC; text-decoration: none; }
body a:hover { color: #005580; text-decoration: underline; }

header { background: #000000; color: #FFF; margin-bottom: 25px; padding: 100px; text-align: center; }

div.container { overflow: hidden; }

div.block { color: rgba(0, 0, 0, 0.9); margin-top: 10px !important; }
div.block.block-heading { margin-top: 25px !important; }
div.block.block-heading h1 { display: inline; margin-right: 10px; }
div.block.block-heading h2 { color: rgba(0, 0, 0, 0.6); display: inline; }
div.block.block-pullquote { color: #686866; font-style: italic; }
div.block.block-pullquote blockquote { border-left: 5px solid #EEE; padding-bottom: 9px; padding-left: 15px; }
div.block.block-photo { margin-top: 25px !important; }
div.block.block-photo img { max-width: 100%; }

#preview-bar { width: 100%; padding: 10px; margin: 0 0 5px; background: #000; color: #fff; font-size: 16px; text-align: center; }
#preview-bar a { color: yellow; }

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
