/* Layout.scss */

// Skeleton grid
@import 'skeleton.css';

// Alignment modules
.align-full {
	width: 100%;
	img {
		width: 100%;
	}
}
.align-column {
	width: 100%;
	img {
		width: 100%;
	}
}
.align-breaking { 
	margin: {
		right: -120px;
		left: -120px;
	}
	img {
		width: 100%;
	}
	@include breakpoint(mobile-portrait) {
		margin: {
			right: 0;
			left: 0;
		}
		width: 100%;
	}
}
.align-breaking-left {
	float: left;
	margin: {
		top: .25em;
		right: 1.25em;
		bottom: 1.25em;
		left: -120px;
	}
	max-width: 60%;
	img {
		max-width: 100%;
	}
	@include breakpoint(mobile-portrait) {
		margin-right: 0;
		margin-left: 0;
		max-width: 100%;
	}
	@include breakpoint(mobile-landscape) {
		max-width: 50%;
	}
}
.align-breaking-right {
	float: right;
	margin: {
		top: .25em;
		right: -120px;
		bottom: 1.25em;
		left: 1.25em;
	}
	max-width: 60%;
	img {
		max-width: 100%;
	}
	@include breakpoint(mobile-portrait) {
		margin-right: 0;
		margin-left: 0;
		max-width: 100%;
	}
	@include breakpoint(mobile-landscape) {
		max-width: 50%;
	}
}
.align-edge-right {
	box-sizing: border-box;
	float: right;
	margin: {
		top: .25em;
		bottom: 1.25em;
		left: 1.25em;
	}
	max-width: 50%;
	img {
		max-width: 100%;
	}
	@include breakpoint(mobile-portrait) {
		margin-right: 0;
		max-width: 100%;
	}
}
.align-edge-left {
	box-sizing: border-box;
	float: left;
	margin: {
		top: .25em;
		bottom: 1.25em;
		right: 1.25em;
	}
	max-width: 50%;
	img {
		max-width: 100%;
	}
	@include breakpoint(mobile-portrait) {
		margin-left: 0;
		max-width: 100%;
	}
}

blockquote.align-full {
	margin: {
		right: 30px;
		left: 30px;
	}
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-wrapper.align-breaking {
	padding-bottom: 75%; /* Adjust padding to maintain aspect ratio with negative side margins */
	@include breakpoint(mobile-portrait) {
		padding-bottom: 56.25%;
	}
}