@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(glyphicons.css);
@import url(skeleton.css);
@import url(fancybox.css);
/* Import theme */
/* Base.scss */
body {
  background-color: white;
  color: #555;
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Lora", serif;
  font-weight: 700;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: .25em; }

h1 {
  font-size: 3em; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 1.77778em; } }

h2 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 1em; } }

h3 {
  font-size: 1.3125em; }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 1em; } }

h4 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 1em; } }

h5 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h5 {
      font-size: 1em; } }

h6 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h6 {
      font-size: 1em; } }

p {
  margin: 1.25em 0; }

a {
  color: #333333; }

a:hover {
  color: #0d0d0d; }

a.button {
  background-color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #1a1a1a;
  -moz-box-shadow: 0 1px 0 #1a1a1a;
  box-shadow: 0 1px 0 #1a1a1a;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 0 1px 0 #1a1a1a; }

a.button:hover {
  background-color: #262626;
  -webkit-box-shadow: 0 1px 0 #0d0d0d;
  -moz-box-shadow: 0 1px 0 #0d0d0d;
  box-shadow: 0 1px 0 #0d0d0d;
  text-shadow: 0 1px 0 #0d0d0d; }

ul {
  margin-left: 0.75em; }
  ul li {
    color: #999;
    list-style-type: square;
    padding: 0.25em 0; }

blockquote {
  box-sizing: border-box;
  font-size: 1.778em;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 0 1.5em;
  position: relative; }
  @media only screen and (max-width: 767px) {
    blockquote {
      font-size: 1.5em; } }

blockquote:before {
  color: #ccc;
  content: "\0201C";
  font-size: 3em;
  left: 0;
  line-height: 0.5em;
  position: absolute;
  top: 0; }
  @media only screen and (max-width: 767px) {
    blockquote:before {
      font-size: 2em; } }

blockquote:after {
  color: #ccc;
  bottom: -40px;
  content: "\0201D";
  font-size: 3em;
  line-height: 0.5em;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 767px) {
    blockquote:after {
      font-size: 2em; } }

code {
  display: block;
  white-space: normal; }

/* Layout.scss */
.align-full {
  width: 100%; }
  .align-full img {
    width: 100%; }

.align-column {
  width: 100%; }
  .align-column img {
    width: 100%; }

.align-breaking {
  margin-right: -120px;
  margin-left: -120px; }
  .align-breaking img {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking {
      margin-right: 0;
      margin-left: 0;
      width: 100%; } }

.align-breaking-left {
  float: left;
  margin-top: .25em;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  margin-left: -120px;
  max-width: 60%; }
  .align-breaking-left img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking-left {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .align-breaking-left {
      max-width: 50%; } }

.align-breaking-right {
  float: right;
  margin-top: .25em;
  margin-right: -120px;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  max-width: 60%; }
  .align-breaking-right img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking-right {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .align-breaking-right {
      max-width: 50%; } }

.align-edge-right {
  box-sizing: border-box;
  float: right;
  margin-top: .25em;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  max-width: 50%; }
  .align-edge-right img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-edge-right {
      margin-right: 0;
      max-width: 100%; } }

.align-edge-left {
  box-sizing: border-box;
  float: left;
  margin-top: .25em;
  margin-bottom: 1.25em;
  margin-right: 1.25em;
  max-width: 50%; }
  .align-edge-left img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-edge-left {
      margin-left: 0;
      max-width: 100%; } }

blockquote.align-full {
  margin-right: 30px;
  margin-left: 30px; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-wrapper.align-breaking {
  padding-bottom: 75%;
  /* Adjust padding to maintain aspect ratio with negative side margins */ }
  @media only screen and (max-width: 767px) {
    .video-wrapper.align-breaking {
      padding-bottom: 56.25%; } }

/* Module.scss */
header {
  background: #dddddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }
  header h1 {
    background: url(logo.png) no-repeat;
    background-position: left center;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    overflow: hidden;
    padding: 15px 0;
    text-indent: 110%;
    white-space: nowrap; }
  header .row {
    margin-bottom: 0; }
  header nav ul {
    float: right;
    margin: 0;
    padding: 0; }
  header nav li {
    display: inline-block;
    list-style-type: none;
    padding: 15px 0 15px 15px; }
    header nav li a {
      color: #9c9c9c;
      font-size: 0.77778em;
      font-weight: 300;
      text-decoration: none; }
    header nav li a:hover {
      border-bottom: 1px solid #9c9c9c;
      color: #9c9c9c; }
  header nav.dropdown {
    display: none !important; }
    header nav.dropdown ul {
      float: none;
      text-align: center; }
  header nav.dropdown.active {
    background: #bebebe;
    display: block !important;
    margin: 0;
    padding: 0.5em 0;
    position: absolute;
    right: 179px;
    top: 57px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      header nav.dropdown.active {
        right: 155px; } }
    header nav.dropdown.active li {
      display: block;
      padding: 0; }
      header nav.dropdown.active li a {
        display: block;
        font-size: 1em;
        padding: 0.75em 1em;
        text-align: right; }
      header nav.dropdown.active li a:hover {
        background: #b2b2b2;
        border: none; }
  header .nav-toggle.glyphicons {
    display: none;
    float: right;
    margin-right: 55px; }
  header .glyphicons:before {
    color: #9c9c9c;
    padding: 17px 15px 16px 15px; }
  header nav.dropdown + .nav-toggle.glyphicons {
    display: block; }
  header nav.dropdown.active + .glyphicons:before {
    background: #bebebe; }
  @media only screen and (max-width: 767px) {
    header .three.columns {
      max-width: 60%; }
    header nav {
      display: none !important; }
      header nav ul {
        float: none;
        text-align: center; }
    header nav.active, header nav.dropdown.active {
      background: #bebebe;
      display: block !important;
      left: 0;
      margin: 0;
      padding: 0.5em 0;
      position: absolute;
      top: 57px;
      width: 100% !important; }
      header nav.active li, header nav.dropdown.active li {
        display: block;
        padding: 0; }
        header nav.active li a, header nav.dropdown.active li a {
          display: block;
          font-size: 1em;
          padding: 0.75em;
          text-align: center; }
        header nav.active li a:hover, header nav.dropdown.active li a:hover {
          background: #b2b2b2;
          border: none; }
    header .nav-toggle.glyphicons {
      display: block; }
    header nav.active + .glyphicons:before {
      background: #bebebe; } }

.share-menu {
  background: #bebebe;
  display: none !important;
  margin: 0;
  padding: 0.5em 0;
  position: absolute;
  top: 57px;
  right: 130px; }
  .share-menu ul {
    margin: 0;
    padding: 0;
    text-align: right; }
  .share-menu li {
    display: inline-block;
    list-style-type: none; }
    .share-menu li a {
      overflow: hidden;
      padding: 7px 0;
      text-indent: 110%;
      white-space: nowrap; }
    .share-menu li a.social:before {
      color: #9c9c9c;
      font-size: 1.33333em;
      line-height: 32px;
      text-align: center;
      text-indent: 0;
      width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .share-menu {
      right: 105px; } }
  @media only screen and (max-width: 767px) {
    .share-menu {
      right: 0;
      width: 100%; }
      .share-menu ul {
        text-align: center; } }

.share-menu.active {
  display: block !important; }

.share-toggle {
  display: block;
  float: right;
  margin-right: 6px; }

.share-toggle:before {
  margin-right: 0; }

.share-menu.active + .glyphicons:before {
  background: #bebebe; }

article {
  border-top: 1px solid #e2e2e2;
  margin-bottom: 50px;
  padding-top: 55px; }
  @media only screen and (max-width: 767px) {
    article {
      margin-top: 20px;
      padding-top: 30px; } }

article:first-child {
  border: none;
  margin-top: 55px; }

.heading {
  margin-top: 0.75em;
  margin-bottom: 0.35em;
  text-align: center; }

.subheading {
  color: #aaa;
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  text-transform: uppercase; }

.cover {
  top: -55px;
  margin-bottom: -55px;
  /* Eliminate margin-top of article so that cover image sits flush with header */
  position: relative; }
  .cover .headings {
    position: absolute;
    top: 35%;
    z-index: 2;
    width: 100%; }
    .cover .headings h1 {
      color: #fff;
      font-size: 6em;
      margin: 0;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    .cover .headings h2 {
      color: #fff;
      margin-top: -0.25em;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      text-transform: uppercase; }
  .cover img {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .cover .headings h1 {
      font-size: 2em; }
    .cover .headings h2 {
      font-size: 1em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .cover .headings h1 {
      font-size: 3em; }
    .cover .headings h2 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .cover .headings h1 {
      font-size: 4.5em; }
    .cover .headings h2 {
      font-size: 2em; } }

.photo-grid-photo {
  box-sizing: border-box;
  padding: 10px 0; }
  .photo-grid-photo img {
    width: 100%; }

.purchase {
  margin-top: 2em; }
  .purchase ul {
    margin: 2em 0 0 0;
    padding: 0; }
    .purchase ul li {
      display: inline-block;
      list-style-type: none;
      margin: 0 0.25em; }
  @media only screen and (max-width: 767px) {
    .purchase li {
      font-size: 0.8em; } }

h2.toc {
  text-align: center;
  font-weight: lighter;
  color: #999999; }

.toc {
  text-transform: uppercase; }

.toc a {
  text-decoration: none; }

.toc a:hover {
  text-decoration: underline; }

.toc-author {
  text-transform: uppercase;
  padding-left: 40px;
  font-weight: 500;
  margin-bottom: 30px; }

footer {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.35)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  bottom: 0;
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 3; }

/* Custom styles */
h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.2em; }

blockquote {
  font-style: italic; }

.heading {
  font-weight: bold; }

.subheading {
  color: #999999;
  font-style: italic;
  font-weight: normal;
  text-transform: none; }

.center-linebreak {
  text-align: center; }

.linebreak {
  max-height: 80px;
  width: auto; }

.bio {
  font-style: normal; }

.bio-name {
  font-family: Lora;
  font-weight: bold;
  text-transform: uppercase; }

.italic {
  font-style: italic; }

.shadow {
  box-shadow: 10px 10px 18px #888888; }

.copyright {
  text-align: center;
}

#logo {
  width: 60px;
}

.lead img {
  margin-bottom: 10px; }
@media only screen and (max-width: 992px) {
  .lead img {
    width: 100%; } }
@media only screen and (min-width: 992px) {
  .lead {
    text-align: center; }
    .lead img {
      max-height: 500px; } }

a.button {
  background: #ddd;
  box-shadow: none;
  color: #444;
  text-shadow: none; }

a.button:hover {
  background: #ccc;
  box-shadow: none;
  text-shadow: none; }

#buttons {
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center; }
  #buttons h3 {
    color: #777;
    font-weight: normal;
    margin-bottom: 30px; }
  #buttons a.button {
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 20px;
    text-decoration: none; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  height: 1px; }

header {
  min-height: 55px; }
  header h1 {
    background-size: 40px;
    color: #444;
    font-size: 0.65em;
    margin-top: 2px;
    padding-left: 50px;
    text-indent: 0;
    text-decoration: none !important; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      header h1 {
        width: 350px; } }
  header a.logo {
    text-decoration: none; }
  header nav.dropdown.active {
    background: rgba(26, 26, 26, 0.95);
    display: block !important;
    margin: 0;
    max-height: 650px;
    overflow-y: scroll;
    padding: 0.5em 0;
    position: absolute;
    right: 179px;
    top: 55px; }
    header nav.dropdown.active li {
      border-bottom: 1px solid #333; }
      header nav.dropdown.active li a {
        color: #eee; }
      header nav.dropdown.active li a:hover {
        background: #333333; }
    header nav.dropdown.active li:last-child {
      border: none; }
    @media only screen and (max-width: 767px) {
      header nav.dropdown.active {
        max-height: 420px; }
        header nav.dropdown.active li a {
          text-align: left; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      header nav.dropdown.active {
        right: 155px;
        width: 300px !important; } }
  header nav.dropdown.active + .glyphicons:before {
    background: #9c9c9c;
    color: #fff; }
  header .glyphicons:before {
    color: #9c9c9c;
    padding: 15px 15px 16px 15px; }
  header nav.dropdown.active + .glyphicons:before {
    background: #222; }
  @media only screen and (max-width: 767px) {
    header h1 {
      text-indent: 110%; }
    header .four.columns {
      max-width: 60%; } }

.share-menu {
  background: rgba(26, 26, 26, 0.95);
  top: 55px; }
  .share-menu li {
    display: block;
    width: 54px; }
    .share-menu li a {
      width: 54px; }
    .share-menu li a.social:before {
      color: #eee; }
    .share-menu li a.social.google_plus:before {
      color: #dd4b39; }
    .share-menu li a.social.facebook:before {
      color: #3b5998; }
    .share-menu li a.social.twitter:before {
      color: #55acee; }
  @media only screen and (max-width: 767px) {
    .share-menu {
      width: 54px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .share-menu {
      right: 106px; } }

.share-menu.active + .glyphicons:before {
  background: #222;
  color: #eee; }

@media only screen and (max-width: 767px) {
  .cover {
    margin-top: 50px; } }

article h1 {
  background: url(nowhere_flourish.png) center bottom no-repeat;
  margin-bottom: 0.75em;
  padding-bottom: 0.65em; }

.dropcap:first-letter {
  color: #222;
  float: left;
  font-size: 5.55556em;
  line-height: 72px;
  margin-top: 4px;
  padding-right: 8px; }

.photo-grid-photo {
  max-height: 174px; }
  @media only screen and (max-width: 767px) {
    .photo-grid-photo {
      max-height: inherit; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .photo-grid-photo {
      max-height: 142px; } }

.align-breaking {
  margin-right: -300px;
  margin-left: -300px; }
  @media only screen and (max-width: 767px) {
    .align-breaking {
      margin-right: 0;
      margin-left: 0; } }

.align-breaking-right {
  margin-top: .25em;
  margin-right: -300px;
  margin-bottom: 1.25em;
  margin-left: 1.25em; }
  .align-breaking-right img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking-right {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .align-breaking-right {
      max-width: 50%; } }

.align-breaking-left {
  margin-top: .25em;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  margin-left: -300px; }
  @media only screen and (max-width: 767px) {
    .align-breaking-left {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .align-breaking-left {
      max-width: 50%; } }

@media only screen and (min-width: 768px) {
  .marginalia {
    box-sizing: border-box;
    clear: left;
    margin-right: 0 !important;
    max-width: 250px;
    padding-left: 40px; }
    .marginalia img {
      max-width: 100%; } }
@media only screen and (max-width: 767px) {
  .marginalia {
    max-width: 100%; } }

@media only screen and (min-width: 768px) {
  blockquote.align-full {
    margin-right: 0;
    margin-left: 0; } }

.ad img {
  display: block;
  margin: 0 auto;
  max-width: 600px; }

.cover img {
  display: block;
  margin: 0 auto;
  max-width: 940px; }

a.chapter-next, a.chapter-prev {
  background-color: #444;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 18px;
  margin: 20px 20px 40px 0;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 20%; }

a.chapter-next:hover, a.chapter-prev:hover {
  text-decoration: underline; }

a.chapter-prev {
  background-color: #ddd;
  color: #444;
  float: left;
  margin-left: 20px; }

a.chapter-next:after {
  border: 28px solid transparent;
  border-left: 20px solid #444;
  content: "";
  height: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -48px;
  top: 0; }

a.chapter-prev:before {
  border: 28px solid transparent;
  border-right: 20px solid #ddd;
  content: "";
  height: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -48px;
  top: 0; }

@media only screen and (max-width: 767px) {
  a.chapter-next, a.chapter-prev {
    font-size: 12px;
    padding: 10px;
    width: 30%; }

  a.chapter-next:after {
    border: 23px solid transparent;
    border-left: 20px solid #444;
    right: -43px; }

  a.chapter-prev:before {
    border: 23px solid transparent;
    border-right: 20px solid #ddd;
    left: -43px; } }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  a.chapter-next, a.chapter-prev {
    font-size: 14px;
    padding: 10px;
    width: 30%; }

  a.chapter-next:after {
    border: 23px solid transparent;
    border-left: 20px solid #444;
    right: -43px; }

  a.chapter-prev:before {
    border: 23px solid transparent;
    border-right: 20px solid #ddd;
    left: -43px; } }
/* Device-specific styles */
