div.table-of-contents { margin-top: 17px; }
div.table-of-contents h1 { font: bold 40px serif; padding-bottom: 80px; text-align: center; text-transform: uppercase; }
div.table-of-contents h4 { color: #363636; font: italic 12px serif; margin-bottom: 0; margin-top: 50px; text-align: center; }
div.table-of-contents ul li { margin: 20px 0; }
div.table-of-contents ul li a { font: bold 20px serif; text-decoration: none; }

div.sep { background: #9A9A9A; height: 1px; margin: 30px 0; width: 100%; }

header { background: #323A45; left: 0; height: 50px; margin: 0 !important; position: fixed; top: 0; width: 100%; z-index: 51; }
header h1 { color: transparent; display: block; float: left; width: 10%; }
header nav { border-left: 1px solid #475363; border-right: 1px solid #475363; float: left; height: 50px; padding-left: 10px; position: relative; text-align: left; width: 80%; }
header nav div.active { color: white; display: block; font: bold 14px serif; height: 50px; text-decoration: none; text-transform: uppercase; padding: 15px 5px; position: relative; }
header nav div.active:hover ul { display: block; }
header nav ul { display: none; left: 10%; position: fixed; top: 50px; width: 80%; z-index: 52; }
header nav ul li { margin: 0; }
header nav ul li a { background: #5D6C80; border-top: 1px solid #525F71; color: white !important; display: block; font: normal 16px serif; padding: 10px 16px; text-decoration: none; text-transform: none; }
header nav ul li a:hover { color: #DDD !important; text-decoration: none; }


/* Temporary overrides for Tesla publication demo */
body { font-family: "Georgia", "Times New Roman", serif;
font-family: 'HelveticaNeue', sans-serif;}
h1, h2, h3, h4, h5, h6, .block-cover span, blockquote { font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-weight: bold;}
p { font-size: 18px; line-height: 24px; }

header { background: transparent; padding: 0; }
header h1 { background: url(../images/logo.png) left top no-repeat; background-size: 100%; color: #333; width: inherit; margin-left: 45px; max-width: 150px; min-height: 225px; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 15%; }
header nav { border: none; }
header nav div.active { color: transparent; }
header nav div.active:hover ul { display: none; }
.sep { display: none;}

.table-of-contents { margin-top: 0 !important; padding-left: 240px; position: fixed; top: 0; width: 100% !important; z-index: 100;}
.table-of-contents h1, .table-of-contents h4 { display: none; }
.table-of-contents ul { padding-right: 25px; max-width: 900px !important; }
.table-of-contents ul li:first-child { display: none; }
.table-of-contents ul li { display: inline-block; margin: 0 -2px 0 0 !important; width: 23.5%; }
.table-of-contents ul li a { color: white; background-color: #0071c5; background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#3D9EEC), to(#0071c5)); background-image: -webkit-linear-gradient(top, #3D9EEC 50%, #0071c5); background-image: -moz-linear-gradient(top, #307ED4 50%, #0071c5); background-image: -ms-linear-gradient(top, #307ED4 50%, #0071c5); background-image: -o-linear-gradient(top, #307ED4 50%, #0071c5); color: #fff; display: block; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-size: 15px !important; padding: 15px 20px 18px 20px; text-align: center; text-transform: uppercase; width: 100%; }

.container { overflow: visible !important; width: 100% !important; }
.container .twelve.columns { width: 800px; }

.container .block-cover.sixteen.columns { margin: 0 !important; width: 100% !important; }
.block-cover span { bottom: 300px !important; display: block; font-size: 76px !important; font-style: normal !important; left: inherit !important; text-align: center; width: 100%;}
.block-photo.alignment-f { margin-right: 0 !important; margin-left: 0 !important; padding-left: 0 !important; width: 100% !important; }
.block-photo img { margin-bottom: 20px; width: 100%; }
.block-photo.alignment-bl img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: -110px;
    width: 70%;
}
.block-photo.alignment-br img {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: -110px;
    width: 70%;
}
.block-pullquote blockquote { border: none !important; color: #333; font-size: 32px !important; font-style: normal; font-weight: bold; line-height: 1.15em; padding: 0 45px !important; position: relative; }
.block-pullquote blockquote:before { content: "\201C"; font-size: 68px; position: absolute; left: 0; top: 5px; }
.block-pullquote blockquote:after { content: "\201D"; font-size: 68px; position: absolute; bottom: -22px; right: 0; }
.block-pullquote blockquote p { color: #333; font-size: 32px !important; font-style: normal; font-weight: bold; line-height: 1.15em; padding: 0; }

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    h1 { font-size: 38px; line-height: 40px; }

    .table-of-contents { padding-left: 192px; }
    .table-of-contents ul li a { font-size: 12px !important; padding: 10px 20px 13px 20px; }
    
    .container .twelve.columns { width: 556px; }
    .block-cover span { bottom: 200px !important; font-size: 60px !important; }
    .block-photo.alignment-bl img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: -60px;
        width: 65%;
    }
    .block-photo.alignment-br img {
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-right: -60px;
        width: 65%;
    }
}

@media only screen and (max-width: 767px) {
    h1 { font-size: 28px; line-height: 32px; }
    p { font-size: 16px; }
    
    header h1 { margin-left: 10px; }
    
    .table-of-contents { display: none !important; }

    .container .twelve.columns { width: 300px; }
    .block { padding: 0 20px 0 70px !important; }
    .block-cover, .block-photo, .block-video { padding: 0 !important; width: 100% !important; }
    .block-photo p { padding: 0 20px 0 70px;}
    .block-cover span { bottom: 100px !important; font-size: 30px !important; }
    .block-pullquote blockquote { font-size: 24px !important; padding: 0 30px !important; }
    .block-pullquote blockquote:before, .block-pullquote blockquote:after { font-size: 54px; }
    .block-pullquote blockquote p { font-size: 24px !important; }

    .block-photo.alignment-bl img {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
    .block-photo.alignment-br img {
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 0px;
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    header h1 { max-width: 75px; }
    
    .table-of-contents { display: block !important; padding-left: 120px; }
    .table-of-contents ul li a { font-size: 12px !important; padding: 10px 20px 13px 20px; }
    
    .container .twelve.columns { width: 480px; } 
    .container .twelve.columns.offset-by-four { padding-left: 120px !important; }   
    .block-photo p { padding: 0; } 
}



.block.block-heading.twelve.columns.offset-by-four h1{
    font-size: 1.5em;
    color:#307ED4;
    color:#0071c5;
    font-weight: 400;
}
            
sup{
    font-size: .5em;
    vertical-align: .5em;
}

.bold{
    font-weight: 700;
}
    .bold p{
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 1.3em;
    }

.block.twelve.columns.offset-by-four.alignment-c.caption{
    margin-top: 0px;
    padding-top:0px;
}

.block.block-photo.twelve.columns.offset-by-four.alignment-c p{
    margin-top: 0px;
    padding-top:0px;
    color:gray;
    font-size:1em;
    line-height:1.4em;
    margin-top: 0px;
    padding-top:0px;
}

table tbody tr td{
    padding-left: 20px;
    border-bottom-style: solid;
    border-bottom-color: gray;   
}


table tbody tr{
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 20px; 
    border-bottom-style: solid;
    border-bottom-color:gray;   
}


table tbody tr td.right{
    text-align:left;
}


.fine-print p{
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom:10px;
}

div.block.block-photo.twelve.columns.offset-by-four.alignment-c p{
    margin-right:60px;
}


.table h4{
    font-size: 1.2em;

}

.table ul{
    font-size: 1.2em;
    padding-left:1.5em;
}

