/* Test CSS */

body {
	font-family: 'Open Sans', sans-serif, Arial, serif;
	font-size: 16px;
	background-color: #fff;
	color: #87cfd5;
}

h1 {
	font-family:'Muli', 'Days One', 'Muli', 'Open Sans', sans-serif, Arial, serif;
	font-size:1.5em;
}

h2 {
	font-family:'Muli', 'Days One', 'Muli', 'Open Sans', sans-serif, Arial, serif;
	font-size: 1em;
	line-height: 1.2em;
	color: #87cfd5;
}

h3 {
	font-family:'Muli', 'Days One', 'Muli', 'Open Sans', sans-serif, Arial, serif;
	font-size: 1.3em;
	color: #595959;
	padding-top: 20px;
}

h4 {
	padding-top: 20px;
	font-family: 'Muli';
	font-size: 1.5em;
}

h5 {
	font-family: 'Muli';
	color: #EF5444;
	font-size: 1.2em;
	padding-top: 10px;
}

a:hover h5{
	color: #87cfd5;

}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.topbar {
	background: #595959;
	height: 125px;
	padding-top: 40px;
	text-align: center;
}

.topbar h1 {
	color: #fff;
	font-size: 2.75em;
}


/* NAVBAR 
======================== */

#grey-nav {
	background-color: #EBEBEB;
	border: none;
}

.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #595959;
	font-size: 15px;
}

.navbar-nav>li>a:hover {
	background-color: #87cfd5;
	color: #fff;
	text-shadow: none;
	font-size: 15px;
}


.navbar-nav>li>.btn-sign-up>a {
	color: #fff;
	font-size: 15px;
}

.navbar-nav>li>.btn-sign-up>a:hover {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}


.navbar .navbar-fixed-top{
	background-color: #EBEBEB;
	color: #595959;
	border: none;
	
}

.navbar-brand img {
	margin-right: 7px;
	padding: 0px;
}

.navbar-brand {
	color: #595959;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	padding: 7px 15px;
}

.btn-sign-up {
	margin-top: 7px;
	margin-left: 10px;
	background-color: #EF5444;
	border: none;
	color: #fff;
	text-shadow: none;
}

.btn-sign-up:hover {
	background-color: #87cfd5;
	color: #fff;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle {
	border-color: #fff;
}


/* New navbar with dropdowns */

.dropdown-duh {
	background-color: #EBEBEB;
	padding: 0;
	text-align: center;
	border: none;
}

ul.nav.navbar-nav.dropdown > li {
	min-width: 118px;
	text-align: center;
}

.dropdown-menu {
	min-width: 118px;
}

ul.dropdown-menu >li >a {
	background: #EBEBEB;
	color: #595959;
	padding: 10px 10px;
	text-align: center;

}

ul.dropdown-menu >li >a:hover {
	background: #87cfd5;
	color: #fff;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: #87cfd5;
	color: #fff;
}

.nav .caret {
	border-top-color: #595959;
	border-bottom-color: #595959;
}

.nav a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.nav .open>a .caret, .nav .open>a:hover .caret, .nav .open>a:focus .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

/* Jumbotron */

.big-image {
	background-image: url('../images/main.jpg');
	background-size: 768px;
	min-height: 350px;
	background-repeat: no-repeat;
	color: #fff;
	padding-top: 55px;
	padding-right: 30px;
}

.big-image h3 {
	color: #87cfd5;
	margin-bottom: 0px;
}

.big-image h2 {
	font-family: 'Muli';
}

.big-image a {
	text-align: center;
}

.tryit h3 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.tryit-form {
	padding-bottom: 30px;
}

#main-form {
	padding-top: 10px;
}

.main-form-signup {
	margin-top: 10px;
	font-size: 20px;
	padding: 10px 25px;
	margin-left: 0px;
	margin-bottom: 20px;
	text-align: center;
}

#main-button {
	text-align: center;
}


#learn-more {
	text-align: center;
	padding-bottom: 5px;
}

a:hover #learn-more {
	color: #87cfd5;
}

#title-xs {
	color: #EF5444;
	text-align: center;
	margin-top: 50px;
}

#description-xs {
	color: #EF5444;
	text-align: center;
	margin-top: 0px;
}

/* Huff post */

.huffpost {
	padding: 0 0;
	padding-bottom: 0;
	font-family: Georgia,Century,Times,serif;
	text-align: center;
}


.huffpost img {
	max-height: 100px;
}

.huffpost p {
	color: #595959;
	padding-bottom: 0;
}

.huffpost a {
	color: #428bca;
}

.huffpost a:hover {
	color: #2a6496;
	text-decoration: underline;
}

.huffpost h1 {
	margin-top: 30px;
}

.center-img {
	text-align: center;
}

blockquote {
	border: none;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}


blockquote:before {
	color: #ccc;
	content: "\0201C";
	font-size: 3em;
	left: 40px;
	line-height: 0.5em;
	position: absolute;
	top: 15px;
}

blockquote:after {
	color: #ccc;
	content: "\0201D";
	font-size: 3em;
	line-height: 0.5em;
	position: absolute;
	right: 50px;
}


blockquote p {
	font-size: 1em;
	color: #595959;
	font-weight: 400;
}


/* Main values */

.main-content {
	text-align: center;
	color:#595959;
}

.main-content h4 > a {
	color:#595959;
}

#dotted-line-above {
	border-top: dashed;
	border-top-width: 2px;
	border-top-color: #595959;
}

#dotted-line-below {
	border-bottom: dashed;
	border-bottom-width: 2px;
	border-bottom-color: #595959;
}

.style-guides {
	width: 160px;
	height: 150px;
	background-image: url('../images/billboard.png');
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	margin-top: 20px;
}

a:hover div.style-guides {
	background-image: url('../images/billboard-blue.png');
}

.content-marketing {
	width: 170px;
	height: 150px;
	background-image: url('../images/book.png');
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	margin-top: 20px;
}

a:hover div.content-marketing {
	background-image: url('../images/book-blue.png');
}

.reports {
	width: 150px;
	height: 150px;
	background-image: url('../images/reports.png');
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	margin-top: 20px;
}

a:hover div.reports {
	background-image: url('../images/reports-blue.png');
}

.spacebelow {
	margin-bottom: 20px;
}

.spaceabove {
	margin-top: 15px;
}

#footer {
	background-color: #EBEBEB;
	text-align: center;
}

#footer-logo {
	padding: 20px 20px;
	display: inline;
	text-align: center;
	height: 175px;
}

#footer-text {
	color: #595959;
}

.footer-label {
	font-size: 14px;
	margin-bottom: 5px;
	padding-left: 15px;
}

#footer-products {
	text-align: left;
}

#footer-products .nav >li >a {
	padding-top: 10px;
	color: #595959;
	font-size: 14px;
}

#footer-products .nav >li >a:hover {
	background-color: #87cfd5;
	color: #fff;
}

.footer-border {
	border-bottom: solid 1px #595959;
}

/* social media sprite for footer */

#socialmedia > ul.nav > li > a {
	height: 33px;
	width: 33px;
	margin-bottom: 8px;
}

#socialmedia > ul.nav > li.facebook > a {
	background: url('../images/social-media-sprite.png') -1px 0px;
}

#socialmedia > ul.nav > li.facebook > a:hover {
	background: url('../images/social-media-sprite.png') -40px 0px;
}

#socialmedia > ul.nav > li.twitter > a {
	background: url('../images/social-media-sprite.png') -1px -34px;
}

#socialmedia > ul.nav > li.twitter > a:hover {
	background: url('../images/social-media-sprite.png') -40px -34px;
}

#socialmedia > ul.nav > li.linkedin > a {
	background: url('../images/social-media-sprite.png') -1px -67px;
}

#socialmedia > ul.nav > li.linkedin > a:hover {
	background: url('../images/social-media-sprite.png') -40px -67px;
}

#socialmedia > ul.nav > li.googleplus > a {
	background: url('../images/social-media-sprite.png') -1px -100px;
}

#socialmedia > ul.nav > li.googleplus > a:hover {
	background: url('../images/social-media-sprite.png') -40px -100px;
}


/* Benefits Page */

.whypublet {
	text-align: center;
	padding-top: 10px;
	color: #595959;
}

.whypublet h5 {
	color:#595959;
}

.whypublet h2 {
	color:#595959;
}

.whypublet p {
	text-align: left;
	padding-bottom: 0;
	padding-top: 30px;
}

.whypublet .center-text p {
	text-align: center;
} 

.whypublet img {
	width: 100%;
	max-width: 400px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 20px;

}

.why-vals {
	font-weight: 900;
	padding-bottom: 0;
	margin: 0;
}

h3.why-vals {
	padding-bottom: 20px;
}

.right-border {
	border-right: none;
}

.pricing-box {
	padding-right: 20px;
	padding-left: 20px;
}

div.row.pricing{
	box-shadow: none;
	border: none;
	padding: 15px;
	margin-bottom: 20px;
}

.pricing h3 {
	font-size: 1em;
	margin-top: 10px;
}

.top-border h3 {
	border-top: 1px #595959 solid;
	padding-top: 20px;
}

.subhead h1 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.pricing h2 {
	font-size: 1.5em;
	color: #87cfd5;
	padding-bottom: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.pricing h1 {
	font-size: 1.75em;
	padding: 0;
}

.xs-borders {
	border: 1px #595959 solid;
}

.callus {
	margin-bottom: 20px;
}

.callus h2 {
	font-size: 1em;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 10px;
}

.phone {
	color: #87cfd5;
	font-size: 1.25em;
}

div.row.faq {
	margin-bottom: 30px;
}

.faq {
	padding-left: 50px;
	padding-right: 50px;
}

.faq h2 {
	font-size: 1em;
	font-style: italic;
	text-align: left;
	padding-bottom: 10px;
	padding-left: 0;
}


/* who is it for? page */

.whopage h1 {
	padding-top: 10px;
	text-align: center;
	font-size: 0.95em;
	padding-left: 0;
}

.whopage h2 {
	font-size: 1em;
	text-align: center;
	color: #595959;
	margin-left: 15px;
	margin-top: 10px;
}

.whopage a h1 {
	color: #595959;
}


.whopage .not-current{
	border-bottom: 6px #595959 solid;
}

.whopage a:hover h1 {
	color: #CCCCCC;
}

a:hover .not-current {
	border-bottom-color: #CCCCCC;
}

.whopage .current {
	border-bottom: 6px #87cfd5 solid;
}

.whopage div {
	text-align: center;
}

.whopage img {
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	border: 3px #595959 solid;
	margin-right:auto;
	margin-left: auto;
}

.whopage p {
	text-align: left;
	color: #595959;
	padding-bottom: 20px;
}

.signup-who {
	border: solid #595959 1px;
	padding: 15px 15px;
	text-align: center;
}

.whopage h3 {
	color: #EF5444;
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.separator {
	margin-top: 10px;
	padding-top: 30px;
	border-top: 3px #595959 dashed;
}

.whopage .subhead h1 {
	color: #595959;
}

.keyfeat img {
	height: 150px;
	border: none;
}

.keyfeat {
	color: #595959;
}

.keyfeat li {
	text-align: left;
}

.keyfeat h4 {
	padding-top: 0;
}

.whopage h5 {
	color: #595959;
}

/* how it works page */

.blue {
	background-color: #87cfd5;
}

.howpage {
	margin-top: 20px;
	text-align: center;
}

.howpage p {
	color: #595959;
}
.howpage h2 {
	color: #595959;
}

.how h3 {
	color: #87cfd5;
	margin-top: 0;
	padding-bottom: 10px;
	text-align: center;
}

.blue h3 {
	color: #fff;
}

.how li {
	color: #595959;
	text-align: left;
}

.how img {
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.data {
	box-shadow: 5px 5px 5px #888888;
	border: 1px #CCCCCC solid;
}

.arrow {
	height: 150px;
}


/* Product Page */


.current-product {
	border-left: 2px #CCCCCC solid;
	border-right: 2px #CCCCCC solid;
	border-top: 2px #CCCCCC solid;
	padding-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.other-products {
	border-bottom: 2px #CCCCCC solid;
	padding-top: 10px;
}


.section-header{
	text-align: center;
	padding-bottom: 8px;
	padding-bottom: 10px;
}

.productpage .section-header h1 {
	padding-bottom:0px;
	padding-left: 10px;
	font-size: 1em;
	margin-top: 0;
}

.productpage h1 {
	color: #EF5444;
}

.productpage .section-header > a >.other-products > h1 {
	color: #595959;
}

.productpage .section-header > a:hover >.other-products > h1 {
	color: #CCCCCC;
}


.section-header img {
	height: 65px;
	margin-right: 10px;
}

.productpage {
	margin-top: 20px;
	text-align: center;
	padding-bottom: 30px;
}

.smallergap {
	margin-top: 20px;
}

.productpage p {
	color: #595959;
	text-align: left;
}

.slug{
	color: black;
}

.productpage h2 {
	color: #595959;
	font-size: 1.1em;
}

.productpage img {
	padding-top: 5px;
	padding-bottom: 5px;

}

.productpage .largeimg {
	width: 250px;
	padding: 30px 0px 10px 0px;
}

.productpage .smallicons img {
	margin-right: 20px;
	margin-bottom: 10px;
	height: 80px;
}

.noborder {
	border: none;
}

.spaceleft {
	padding-left: 10px;
}

.spacetop {
	padding-top: 12px;
}

.productpage .hidden-xs {
	display: inline;
}


/* ABOUT */

#about-container {
	margin-top: 60px;
	margin-bottom: 30px;

}

#about{
margin-top: 40px;
color:#595959;
text-align: center;
line-height: 1.1em;
font-family: 'Muli', 'Open Sans', sans-serif, Arial;
}

#about h2{
	margin-top: 5px;
	font-size: 24px;
	margin-bottom: 0px;
	font-family:'Open Sans', sans-serif, Arial;
	color:#EF5444;
}

#about h3{
	font-size: 16px;
	margin-top: 0px;
	color:#87cfd5;
}

#about p{
	margin-top:0px;
	margin-bottom: 20px;
	text-align: left;
	padding: 0px 10px;
	font-size: 14px;
}

#about p > a {
	color: #428bca;
}

#about p > a:hover {
	color: #2a6496;
  	text-decoration: underline;
}

.about-img{
	border: solid 1px white;	
	border-radius: 150px;	
}

.about-img img{
	border: solid 1px #595959;	
	border-radius: 150px;
	text-align: center;
	display:inline;

}

/* JOBS */

#jobs-container {
	margin-top: 110px;
	margin-bottom: 115px;
}

.jobs h2 {
	margin-top: 50px;
	font-size: 1.9em;
	color: #EF5444;
	text-align: center;
}

.jobs p {
	font-size: 1.2em;
	color: #595959;
}

.jobs p > a {
	color: #428bca;
}

.jobs p > a:hover{
	color: #2a6496;
  	text-decoration: underline;
}

.jobs img {
	max-height: 300px;
	text-align: center;
}



/* CONTACT */

#contact-container {
	margin-top: 100px;
	margin-bottom: 30px;
	color:#595959;
	text-align: center;
}

#contact {
	border-bottom: dashed 2px #595959;
	margin-bottom: 20px;
}

#contact h2 {
	color: #EF5444;
	font-size: 2em;
}

#contact img {
	display:inline;
}


#contact-info p {
	text-align: left;
	color: #595959;
	padding: 5px 0px;

}

#socialmedia p {
	padding: 5px 0px;
}


#contact-info > ul.nav > li > a {
	height: 33px;
	width: 33px;
	margin-bottom: 8px;
}

ul.nav > li.mail > a {
	background: url('../images/social-media-sprite.png') -1px -134px;
}

ul.nav > li.mail > a:hover {
	background: url('../images/social-media-sprite.png') -39px -134px;
}

/* SIGN UP PAGE */

#signup {
	margin-top: 100px;
	margin-bottom: 50px;
	color: #595959;
}

#signup h2 {
	color: #EF5444;
	font-size: 2.5em;
	padding-bottom: 20px;
}


/* THANK YOU */

#thankyou {
	text-align: center;
}

/* Media Queries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */


@media (min-width: 768px) {

	.big-image {
		background-size: 100%;
		padding-top: 100px;
		padding-right: 20px;
	}

	h1 {
		font-size:1.3em;
		margin-top: 0px;
		padding-left: 30px;
	}

	h2 {
		font-size:1.15em;
		color: #fff;
		padding-left: 30px;
	}


	h3 {
		text-align: center;
		padding-top: 10px;
	}

	p {
		padding-bottom: 20px;
	}

	#main-button {
	margin-top: 10px;
	}

	.tryit {
	text-align:center;
	}

	#footer-text {
		margin-top: 40px;
		text-align: left;
	}

	#footer-logo {
		height: 150px;
		margin-top: 20px;
	}

	.productpage p {
		margin-left: 20px;
	}

	.productpage h2 {
		padding-top: 15px;
		font-size: 1.5em;
	}

	.product-features {
		padding-left: 15px;
		padding-top: 40px;
	}

	.section-header {
		text-align: left;
	}

	.productpage .largeimg {
	width: 300px;
	margin: 10px 10px;
	}

	.jobs h2 {
		margin-top: 100px;
		text-align: left;
	}

	#signup {
		border: solid #595959 1px;
		padding: 30px 30px;
		box-shadow: 5px 5px 5px #888888;
	}

	#signup h2 {
		padding-left: 0px;
	}

	#signup h1 {
		padding-left:0px;
	}

	blockquote p {
		font-size: 1.25em;
	}

	blockquote:before {
		font-size: 4em;
	}

	blockquote:after {
		font-size: 4em;
		right: 60px;
		bottom: -15px;

	}

	.topbar {
		height: 150px;
	}

	.topbar {
		padding-top: 65px;
	}

	.topbar h1 {
		font-size: 4em;
	}

	.pricing-box {
		padding:0 ;

	}

	.right-border {
		border-right: 1px #595959 solid;
	}

	div.pricing-box {
		height: 400px;
	}

	div.row.pricing{
		box-shadow: 5px 5px 5px #888888;
		border: 1px #EBEBEB solid;
	}

	.xs-borders {
		border: none;
	}

	.section-header img {
	height: 50px;
	}

	.whopage h1 {
		font-size: 2em;
		padding-top: 30px;
	}

	.whopage h2 {
		font-size: 1em;
	}

	.who-vals {
		padding-top: 50px;
	}

	.separator {
	padding-top: 0;
	border: none;
	}

	.whopage h2 {
		text-align: left;
	}


	.two {
		margin-top: 60px;
	}

	.three {
		margin-top: 80px;
	}

	.huffpost h1{
		text-align: left;
	}




}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.big-image {
		background-size: 100%;
	}

	h1 {
		font-size:1.5em;
	}

	h2 {
		font-size: 1.1em;
		color: #fff;
	}

	p {
		padding-bottom: 20px;
	}

	#main-button {
	margin-bottom: 40px;
	margin-top: 10px;
	}


	#footer-logo {
		height: 175px;
		margin-top: 0px;
	}


	.productpage p {
		text-align: left;
	}


	.product-features {
		padding-top: 50px;
		padding-left: 0px;
	}

	.productpage .largeimg {
		margin: 0px 0px;
	}

	.smaller-container {
	padding-left: 70px;
	padding-right: 70px;
	}


	.productpage .section-header h1 {
		font-size: 1.25em;
	}

	.section-header img {
	height: 80px;
	}

	.whopage h2 {
		font-size: 1.25em;
		padding-top: 10px;
	}

	.who-vals {
		padding-top: 60px;
	}


	.how h3 {
		margin-top: 20px;
	}




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.big-image {
		background-size: 100%;
	}

	h1 {
		font-size:2em;
	}
	h2 {
		font-size:1.5em;
		color: #fff;
		padding-right: 30px;
		padding-bottom: 20px;
	}
	h3 {
		font-size:1.5em;
	}

	h4 {
		font-size: 1.75em;
	}

	

	.jobs h2 {
		margin-left: 30px;
	}

	.jobs p {
		margin-left: 30px;
	}


	.productpage .section-header h1 {
		font-size: 1.5em;
	}


	.whopage h2 {
		font-size: 1.25em;
		padding-right: 0;
		padding-left: 0;
	}

	.whopage p {
		padding-top: 30px;
	}

	.two {
		margin-top: 20px;
	}


}



