@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(glyphicons.css);
@import url(skeleton.css);
@import url(flexslider.css);
/* Import Theme */
/* Base.scss */
body {
  background-color: #f2f2f2;
  color: #555;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: .25em; }

h1 {
  font-size: 3.5em; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 1.5em; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 1.125em; } }

h3 {
  font-size: 1.3125em; }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 1.125em; } }

h4 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 1.125em; } }

h5 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h5 {
      font-size: 1.125em; } }

h6 {
  font-size: 1.125em; }
  @media only screen and (max-width: 767px) {
    h6 {
      font-size: 1.125em; } }

p {
  margin: 1.25em 0; }

a {
  color: #ef3131; }

a:hover, a:hover.glyphicons:before {
  color: #c40f0f; }

a.glyphicons, a.glyphicons:before {
  color: #ef3131;
  text-decoration: underline; }

a.glyphicons:before {
  text-decoration: none; }

a.button {
  background-color: #ef3131;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #dc1111;
  -moz-box-shadow: 0 1px 0 #dc1111;
  box-shadow: 0 1px 0 #dc1111;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 0 1px 0 #dc1111; }

a.button:hover {
  background-color: #ed1919;
  -webkit-box-shadow: 0 1px 0 #c40f0f;
  -moz-box-shadow: 0 1px 0 #c40f0f;
  box-shadow: 0 1px 0 #c40f0f;
  text-shadow: 0 1px 0 #c40f0f; }

ul {
  margin-left: 0.75em; }
  ul li {
    color: #999;
    list-style-type: square;
    padding: 0.25em 0; }

blockquote {
  box-sizing: border-box;
  font-size: 2em;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 0 1.5em;
  position: relative; }
  @media only screen and (max-width: 767px) {
    blockquote {
      font-size: 1.5em; } }

blockquote:before {
  color: #ccc;
  content: "\0201C";
  font-size: 3em;
  left: 0;
  line-height: 0.5em;
  position: absolute;
  top: 0; }
  @media only screen and (max-width: 767px) {
    blockquote:before {
      font-size: 2em; } }

blockquote:after {
  color: #ccc;
  bottom: -40px;
  content: "\0201D";
  font-size: 3em;
  line-height: 0.5em;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 767px) {
    blockquote:after {
      font-size: 2em; } }

code {
  display: block;
  white-space: normal; }

/* Layout.scss */
.align-full {
  width: 100%; }
  .align-full img {
    width: 100%; }

.align-column {
  width: 100%; }
  .align-column img {
    width: 100%; }

.align-breaking {
  margin-right: -120px;
  margin-left: -120px; }
  .align-breaking img {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking {
      margin-right: 0;
      margin-left: 0;
      width: 100%; } }

.align-breaking-left {
  float: left;
  margin-top: .25em;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  margin-left: -120px;
  max-width: 60%; }
  .align-breaking-left img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking-left {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .align-breaking-left {
      max-width: 50%; } }

.align-breaking-right {
  float: right;
  margin-top: .25em;
  margin-right: -120px;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  max-width: 60%; }
  .align-breaking-right img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-breaking-right {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .align-breaking-right {
      max-width: 50%; } }

.align-edge-right {
  box-sizing: border-box;
  float: right;
  margin-top: .25em;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  max-width: 50%; }
  .align-edge-right img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-edge-right {
      margin-right: 0;
      max-width: 100%; } }

.align-edge-left {
  box-sizing: border-box;
  float: left;
  margin-top: .25em;
  margin-bottom: 1.25em;
  margin-right: 1.25em;
  max-width: 50%; }
  .align-edge-left img {
    max-width: 100%; }
  @media only screen and (max-width: 767px) {
    .align-edge-left {
      margin-left: 0;
      max-width: 100%; } }

blockquote.align-full {
  margin-right: 30px;
  margin-left: 30px; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0; }
  .video-wrapper img {
    position: relative;
    z-index: 1; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-wrapper.align-breaking {
  padding-bottom: 75%;
  /* Adjust padding to maintain aspect ratio with negative side margins */ }
  @media only screen and (max-width: 767px) {
    .video-wrapper.align-breaking {
      padding-bottom: 56.25%; } }

/* Module.scss */
header {
  background: #e0e0e0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  header h1 {
    background: url(logo.png) no-repeat;
    background-position: left center;
    color: #fff;
    font-size: 1.125em;
    line-height: 1.5em;
    margin: 0;
    overflow: hidden;
    padding: 15px 0;
    text-indent: 110%;
    white-space: nowrap; }
  header .row {
    margin-bottom: 0; }
  header nav ul {
    float: right;
    margin: 0;
    padding: 0; }
  header nav li {
    display: inline-block;
    list-style-type: none;
    padding: 15px 0 15px 15px; }
    header nav li a {
      color: #444444;
      font-size: 0.875em;
      font-weight: 300;
      text-decoration: none; }
    header nav li a:hover {
      border-bottom: 1px solid #444444;
      color: #444444; }
  header nav.dropdown {
    display: none !important; }
    header nav.dropdown ul {
      float: none;
      text-align: center; }
  header nav.dropdown.active {
    background: #c1c1c1;
    display: block !important;
    margin: 0;
    padding: 0.5em 0;
    position: absolute;
    right: 179px;
    top: 57px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      header nav.dropdown.active {
        right: 155px; } }
    header nav.dropdown.active li {
      display: block;
      padding: 0; }
      header nav.dropdown.active li a {
        display: block;
        font-size: 1.125em;
        padding: 0.75em 1em;
        text-align: left; }
      header nav.dropdown.active li a:hover {
        background: #b5b5b5;
        border: none; }
  header .nav-toggle.glyphicons {
    display: none;
    float: right;
    margin-right: 55px; }
  header .glyphicons:before {
    color: #444444;
    padding: 17px 15px 16px 15px; }
  header a:hover.glyphicons:before {
    color: #444444; }
  header nav.dropdown + .nav-toggle.glyphicons {
    display: block; }
  header nav.dropdown.active + .glyphicons:before {
    background: #c1c1c1; }
  @media only screen and (max-width: 767px) {
    header .three.columns {
      max-width: 60%; }
    header nav {
      display: none !important; }
      header nav ul {
        float: none;
        text-align: center; }
    header nav.active, header nav.dropdown.active {
      background: #c1c1c1;
      display: block !important;
      left: 0;
      margin: 0;
      padding: 0.5em 0;
      position: absolute;
      top: 57px;
      width: 100% !important; }
      header nav.active li, header nav.dropdown.active li {
        display: block;
        padding: 0; }
        header nav.active li a, header nav.dropdown.active li a {
          display: block;
          font-size: 1.125em;
          padding: 0.75em;
          text-align: center; }
        header nav.active li a:hover, header nav.dropdown.active li a:hover {
          background: #b5b5b5;
          border: none; }
    header .nav-toggle.glyphicons {
      display: block; }
    header nav.active + .glyphicons:before {
      background: #c1c1c1; } }

.share-menu {
  background: #c1c1c1;
  box-sizing: border-box;
  display: none !important;
  margin: 0;
  min-width: 300px;
  padding: 10px 20px 20px 20px;
  position: absolute;
  top: 57px;
  right: 130px; }
  .share-menu .share-menu__tabs {
    padding-top: 10px;
    padding-left: 0; }
    .share-menu .share-menu__tabs li {
      padding-right: 20px; }
    .share-menu .share-menu__tabs a {
      color: #777;
      padding-bottom: 1px;
      text-decoration: none; }
      .share-menu .share-menu__tabs a.selected {
        border-bottom: 2px solid #333;
        color: #333; }
  .share-menu ul {
    margin: 0;
    padding: 20px 0 0 0; }
  .share-menu li {
    display: inline-block;
    list-style-type: none;
    padding: 0; }
    .share-menu li a {
      overflow: hidden;
      max-width: 45px;
      padding: 7px 0;
      text-indent: 110%;
      white-space: nowrap; }
    .share-menu li a.social:before {
      color: #444444;
      font-size: 2em;
      line-height: 36px;
      text-align: center;
      text-indent: 0; }
  .share-menu h4 {
    font-size: 1.125em;
    margin: 5px 0 15px 0; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .share-menu {
      right: 105px; } }
  @media only screen and (max-width: 767px) {
    .share-menu {
      min-width: 0;
      right: 0;
      width: 100%; } }

.share-menu.active {
  display: block !important; }

#share-menu__embed {
  padding-top: 20px; }
  #share-menu__embed label {
    display: block;
    float: left;
    font-size: 0.75em;
    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 3px; }
    #share-menu__embed label b {
      font-weight: normal; }
    #share-menu__embed label input {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #bbb;
      display: inline;
      padding: 5px;
      max-width: 30px;
      text-align: right; }
  #share-menu__embed textarea {
    background: rgba(255, 255, 255, 0.8);
    -webkit-appearance: none;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #bbb;
    clear: left;
    color: #777;
    display: block;
    line-height: 1.35em;
    padding: 7px;
    resize: none;
    width: 100%; }
  @media only screen and (max-width: 767px) {
    #share-menu__embed textarea {
      min-height: 70px; } }

.share-toggle {
  display: block;
  float: right;
  margin-right: 6px; }

.share-toggle:before {
  margin-right: 0; }

.share-menu.active + .glyphicons:before {
  background: #c1c1c1; }

.article-container {
  border-top: 1px solid #e2e2e2;
  margin-bottom: 50px;
  padding-top: 55px; }
  .article-container:first-child {
    border: none;
    margin-top: 55px; }
  @media only screen and (max-width: 767px) {
    .article-container {
      margin-top: 20px;
      padding-top: 30px; }
      .article-container:first-child {
        border: none;
        margin-top: 55px; } }

.heading {
  margin-top: 1em;
  margin-bottom: 0.35em;
  text-align: center; }

.subheading {
  color: #aaa;
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  text-transform: uppercase; }

.cover {
  top: -55px;
  margin-bottom: -55px;
  /* Eliminate margin-top of article so that cover image sits flush with header */
  position: relative; }
  .cover .headings {
    position: absolute;
    top: 35%;
    z-index: 2;
    width: 100%; }
    .cover .headings h1 {
      color: #fff;
      font-size: 4.75em;
      margin: 0;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    .cover .headings h2 {
      color: #fff;
      margin-top: -0.25em;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      text-transform: uppercase; }
  .cover img {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .cover .headings h1 {
      font-size: 1.75em; }
    .cover .headings h2 {
      font-size: 1em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .cover .headings h1 {
      font-size: 3em; }
    .cover .headings h2 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .cover .headings h1 {
      font-size: 4.5em; }
    .cover .headings h2 {
      font-size: 2em; } }

.photo-grid-photo {
  box-sizing: border-box;
  padding: 10px 0; }
  .photo-grid-photo img {
    width: 100%; }

.flexslider .slide-content {
  position: absolute;
  top: 35%;
  width: 100%; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .flexslider .slide-content {
      top: 35%; } }
  @media only screen and (max-width: 767px) {
    .flexslider .slide-content {
      top: 20%; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .flexslider .slide-content {
      top: 30%; } }
.flexslider h2 {
  color: #fff;
  font-size: 2em;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  width: 80%; }
  @media only screen and (max-width: 767px) {
    .flexslider h2 {
      font-size: 1.625em;
      max-width: 230px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .flexslider h2 {
      max-width: 650px; } }
.flexslider p {
  color: #fff;
  font-size: 1.125em;
  font-weight: 300;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  width: 80%; }
  @media only screen and (max-width: 767px) {
    .flexslider p {
      font-size: 1em;
      max-width: 230px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .flexslider p {
      max-width: 650px; } }

.flexslider .slides li {
  min-height: 300px;
  overflow: hidden;
  text-align: center; }
  .flexslider .slides li img {
    min-height: 400px;
    min-width: 960px; }
    @media only screen and (max-width: 767px) {
      .flexslider .slides li img {
        left: 50%;
        margin-left: -50%; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .flexslider .slides li img {
        left: inherit;
        margin-left: 0; } }

.flex-direction-nav a {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); }

.flex-control-paging li a {
  background: rgba(239, 49, 49, 0.6); }
.flex-control-paging li a:hover {
  background: rgba(239, 49, 49, 0.8); }
.flex-control-paging li a.flex-active {
  background: #ef3131; }

.video-wrapper {
  position: relative; }
  .video-wrapper .glyphicons {
    padding: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 3; }
    .video-wrapper .glyphicons:before {
      font-size: 2.625em;
      color: #fff;
      opacity: 0.7;
      text-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
      width: 100%; }
    .video-wrapper .glyphicons:hover:before {
      color: #fff;
      opacity: 1; }

.colors {
  margin: 0;
  padding: 0; }
  .colors li {
    box-sizing: border-box; }
  .colors .color-swatch {
    border-radius: 100px;
    float: left;
    height: 75px;
    margin-top: 5px;
    width: 75px; }
  .colors dt + dd {
    color: #333;
    font-size: 1.125em;
    padding-top: 5px;
    padding-bottom: 5px; }
  .colors dd {
    font-size: 0.75em;
    margin: 0;
    padding-left: 90px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .colors dl {
      min-height: 235px; } }

.fonts {
  margin: 0;
  padding: 0; }
  .fonts li {
    font-size: 1.625em;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0; }
    .fonts li a {
      display: block;
      font-size: 0.625em;
      font-weight: 400;
      margin-top: 10px;
      padding-left: 25px; }
    .fonts li .glyphicons:before {
      font-size: 1em;
      padding-top: 3px; }
  .fonts .font-light {
    font-weight: 300; }
  .fonts .font-regulat {
    font-weight: 400; }

.image-assets {
  margin: 0;
  padding: 0; }
  .image-assets li {
    margin-bottom: 35px; }
  .image-assets img {
    margin-bottom: 10px;
    max-width: 100%; }
  .image-assets a {
    display: block;
    padding-left: 25px; }
  .image-assets .glyphicons:before {
    font-size: 1em;
    padding-top: 3px; }

.purchase {
  margin-top: 2em; }
  .purchase ul {
    margin: 2em 0 0 0;
    padding: 0; }
    .purchase ul li {
      display: inline-block;
      list-style-type: none;
      margin: 0 0.25em; }
  @media only screen and (max-width: 767px) {
    .purchase li {
      font-size: 0.8em; } }

footer {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.35)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
  bottom: 0;
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 3; }

/* Custom styles */
/* Device-specific styles */
