/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    font-family: Helvetica;
    font-weight: 200;
    font-size: 16px;
    color:#595959;
}


.container{
    padding-left: 15px;
    padding-right: 15px;
}


h1{
    text-decoration: bold;
    font-size: 1.6em;
    font-weight: 400;
}

h2{
    font-family: 'AkzidenzGroteskBE-MdCn', Arial, sans-serif;
    font-size: 2.2em; 
    margin-top: 50px;
    padding-top: 0px;
    text-align: center;
    font-weight: 400;
    color:#595959;
}

h3{
    font-size: 2.1em; 
    margin-top: 30px;
    padding-top: 0px;
    text-align: center;
    font-weight: 200;
}

h4{
    font-size: 1.3em; 
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    font-weight: 200;
    text-decoration: underline;


}

div.top{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

.top img{
    margin:40px;
}



ul{
    list-style-type: circle;
    padding-left: 20px;
}

.row{
    padding-bottom: 20px;

}

.center{
    text-align: center;
}
.center img{
    text-align: center;
    margin:0px auto;
}

.feature-box{
    margin-top: 0px;
    margin-bottom: 20px;
}
.feature-box img{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}
.feature-box.center p, .feature-box.center ul li {
    text-align: left;
}

.ex-com ul li {
    text-align: left;
    margin-top: 10px;
}

.ex-com p {
    font-size: 18px;
}

img.doc-types {
    max-width: 300px;
    padding-bottom: 30px;
}

.feature-box.center ul li {
    margin-bottom:10px;
}

.feature-box ul, .feature-box p{
    padding-left: 20px;
    padding-right: 20px;
}


.margin-top
{
    margin-top:40px;
    text-align: left;
}

.padding{
    padding-left: 20px;
    padding-right: 20px;
}

.header-bg {
    background-color: #E9E9E4;
    border-top: 6px solid black;

}

.header-bg img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
}

.header-bg h1 {
    margin-top: 70px;
    text-align: left;
    font-family: 'AkzidenzGroteskBE-MdCn', Arial, sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
}

.bg h1 {
    font-size: 50px;
    margin-top: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 8px solid black;
    border-bottom: 2px solid #b8ab9b;
    color: black;

}

.bg p {
    font-size: 24px;
}

.separate {
    margin-top: 20px;
}

.top img {
    max-height: 150px;
}

.how h1 {
    font-size: 30px;
    border: 2px solid #595959;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
}


.how h3 {
    font-size: 30px;
    margin-top: 0;
    text-align: left;
}

.how img {
    border: 1px solid #595959;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.icons img {
    height: 115px;
}


@media (min-width: 768px) {

    .how h3 {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {

    .how h3 {
        margin-top: 10px;
    }
}

.features h2 {
    margin-top: 5px;
}

.features {
    margin-bottom: 0;
}

.style-guide {
    max-height: 150px;
    width: auto;

}


@media (max-width: @screen-xs-max) { 
    .feature-box.center p, .feature-box.center ul{
        text-align: center;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }




.top img{
    margin-bottom: 0px;
    margin-top: 0px;
}

h4.prepared{
    text-decoration: none;
}

.img-assets{
    list-style-type: none;
    text-align: center;
}

.img-assets img {
    max-width: 400px;
    max-height: 200px;
    margin: 30px 0px;
}

.img-assets a{
    color: #fff;
    background-color: #428bca;
    padding: 5px 15px;
    margin: 20px 20px;
    border-radius: 5px;
}

/* Responsive iframes for Vimeo and YouTube embeds */

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




























