/*** uncss> filename: css/base.css ***/

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
1) Base
2) Skeleton
3) Layout
4) Style
5) Publication
6) Tomorrow


/* 1) Base Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

html,
body,
div,
span,
iframe,
h1,
h4,
p,
blockquote,
a,
img,
ul,
li,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header,
nav {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

/* #Basic Styles
================================================== */

body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */

h1,
h4 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

p {
  margin: 0 0 20px 0;
}

/*	Blockquotes  */

blockquote,
blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* #Links
================================================== */

a,
a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}

a:hover,
a:focus {
  color: #000;
}

p a,
p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */

ul {
  margin-bottom: 20px;
}

ul {
  list-style: none outside;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* #Images
================================================== */

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */

/* #Misc
================================================== */

/* ==================================================
   2) Skeleton Table of Contents
	 ==================================================
		  #Base 960 Grid
		  #Tablet (Portrait)
		  #Mobile (Portrait)
		  #Mobile (Landscape)
		  #Clearing
	 ================================================== */

/* #Base 960 Grid
================================================== */

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* Nested Column Classes */

/* Base Grid */

.container .four.columns {
  width: 220px;
}

.container .eight.columns {
  width: 460px;
}

.container .sixteen.columns {
  width: 940px;
}

/* Offsets */

.container .offset-by-four {
  padding-left: 240px;
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }

  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container .four.columns {
    width: 172px;
  }

  .container .eight.columns {
    width: 364px;
  }

  .container .sixteen.columns {
    width: 90%;
  }

  /* Offsets */

  .container .offset-by-four {
    padding-left: 10%;
    padding-right: 0%;
  }
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  .container .columns {
    margin: 0;
  }

  .container .four.columns,
  .container .eight.columns,
  .container .sixteen.columns {
    width: 90%;
  }
  .container .sixte

  /* Offsets */

  .container .offset-by-four {
    padding-left: 0;
  }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }

  .container .columns {
    margin: 0;
  }

  .container .four.columns,
  .container .eight.columns,
  .container .sixteen.columns {
    width: 85%;
  }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
  or wrap each row of columns in a <div class="row"> */

/* You can also use a <br class="clear" /> to clear columns */

/* ==================================================
	 3) Layout Table of Content
	 ==================================================
				#Site Styles
				#Page Styles
				#Media Queries
				#Font-Face
	 ================================================== */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  header h1 {
    max-width: 40px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

/* All Mobile Sizes (devices and browser) */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

/* ==================================================
	 4) Style Table of Content
	 ==================================================
				#????
	 ================================================== */

div.block.block-cover {
  position: relative;
}

div.block.block-cover img {
  background-color: black;
}

div.block.block-cover img {
  width: 100%;
}

div.block.block-cover span {
  bottom: 40px;
  color: white;
  font-style: italic;
  font-size: 1.5em;
  font-weight: bold;
  left: 40px;
  line-height: normal;
  position: absolute;
  text-shadow: 2px 2px black;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 50px;
}

body a {
  color: #0088CC;
  text-decoration: none;
}

body a:hover {
  color: #005580;
  text-decoration: underline;
}

header {
  background: #000000;
  color: #FFF;
  margin-bottom: 25px;
  padding: 100px;
  text-align: center;
}

div.container {
  overflow: hidden;
}

div.block {
  color: rgba(0, 0, 0, 0.9);
  margin-top: 10px !important;
}

div.block.block-heading {
  margin-top: 25px !important;
}

div.block.block-heading h1 {
  display: inline;
  margin-right: 10px;
}

div.block.block-pullquote {
  color: #686866;
  font-style: italic;
}

div.block.block-pullquote blockquote {
  border-left: 5px solid #EEE;
  padding-bottom: 9px;
  padding-left: 15px;
}

div.block.block-photo {
  margin-top: 25px !important;
}

div.block.block-photo img {
  max-width: 100%;
}

/* Smaller than standard 960 (devices and browsers) */

/* Tablet Portrait size to standard 960 (devices and browsers) */

/* All Mobile Sizes (devices and browser) */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

/* ==================================================
	 5) Publication Table of Content
	 ==================================================
				#????
	 ================================================== */

@import url(fancybox.css);

.menu-btn-wrap {
  left: 90.5%;
  height: 50px;
  margin: 0 !important;
  position: fixed;
  top: 1%;
  width: 100%;
  z-index: 52;
}
@media only screen and (min-width: 674px) {
  .menu-btn-wrap {
    display: none;
  }
}
.menu-btn {
  background: black;
  width:35px;
  padding:5px 7px 5px 7px;
  color:white;
  font-size: 24px;
}

div.table-of-contents {
  margin-top: 17px;
}

div.table-of-contents h1 {
  font: bold 40px serif;
  padding-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}

div.table-of-contents h4 {
  color: #363636;
  font: italic 12px serif;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: center;
}

div.table-of-contents ul li {
  margin: 20px 0;
}

div.table-of-contents ul li a {
  font: bold 20px serif;
  text-decoration: none;
}

div.sep {
  background: #9A9A9A;
  height: 1px;
  margin: 30px 0;
  width: 100%;
}

header {
  background: #323A45;
  left: 0;
  height: 50px;
  margin: 0 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 51;
}

header h1 {
  color: transparent;
  display: block;
  float: left;
  width: 10%;
}

header nav {
  border-left: 1px solid #475363;
  border-right: 1px solid #475363;
  float: left;
  height: 50px;
  padding-left: 10px;
  position: relative;
  text-align: left;
  width: 80%;
}

header nav div.active {
  color: white;
  display: block;
  font: bold 14px serif;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 5px;
  position: relative;
}

header nav div.active:hover ul {
  display: block;
}

header nav ul {
  display: none;
  left: 10%;
  position: fixed;
  top: 50px;
  width: 80%;
  z-index: 52;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  background: #5D6C80;
  border-top: 1px solid #525F71;
  color: white !important;
  display: block;
  font: normal 16px serif;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: none;
}

header nav ul li a:hover {
  color: #DDD !important;
  text-decoration: none;
}

/* Temporary overrides for Tesla publication demo */

body {
  font-family: "Georgia", "Times New Roman", serif;
}

h1,
h4,
.block-cover span,
blockquote {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 24px;
}

header {
  background: transparent;
  padding: 0;
}

header h1 {
  background: url(../images/logo.jpg) left top no-repeat;
  background-size: 100%;
  color: #333;
  width: inherit;
  margin-left: 45px;
  max-width: 150px;
  min-height: 225px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 15%;
}
@media only screen and (max-width: 959px) {
  header h1 {
    max-width: 60px;
    margin-left: 25px;
  }
}
@media only screen and (max-width: 767px) {
  header h1 {
    max-width: 40px;
  }
}

header nav {
  border: none;
}

header nav div.active {
  color: transparent;
}

header nav div.active:hover ul {
  display: none;
}

.sep {
  display: none;
}

.table-of-contents {
  margin-top: 0 !important;
  padding-left: 240px;
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 100;
}

.table-of-contents h1,
.table-of-contents h4 {
  display: none;
}

.table-of-contents ul {
  padding-right: 25px;
  max-width: 900px !important;
}

.table-of-contents ul li:first-child {
  display: none;
}

.table-of-contents ul li {
  display: inline-block;
  margin: 0 -2px 0 0 !important;
  width: 18%;
}

.table-of-contents ul li a {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#595656), to(#1C1A1A));
  background-image: -webkit-linear-gradient(top, #4F4F4F 50%, #1C1A1A);
  background-image: -moz-linear-gradient(top, #929284 50%, #727260);
  background-image: -ms-linear-gradient(top, #929284 50%, #727260);
  background-image: -o-linear-gradient(top, #929284 50%, #727260);
  color: #fff;
  display: block;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding: 10px 20px 12px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.container {
  overflow: visible !important;
  width: 100% !important;
}

.container .block-cover.sixteen.columns {
  margin: 0 !important;
  width: 100% !important;
}

.block-cover span {
  bottom: 180px !important;
  display: block;
  font-size: 76px !important;
  font-style: normal !important;
  left: inherit !important;
  text-align: center;
  width: 100%;
}

.block-photo.alignment-f {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  width: 100% !important;
}

.block-photo img {
  margin-bottom: 20px;
  width: 100%;
}

.block-photo.alignment-bl img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: -110px;
  width: 70%;
}

.block-photo.alignment-br img {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: -110px;
  width: 70%;
}

.block-pullquote blockquote {
  border: none !important;
  color: #333;
  font-size: 32px !important;
  font-style: normal;
  font-weight: bold;
  line-height: 1.15em;
  padding: 0 45px !important;
  position: relative;
}

.block-pullquote blockquote:before {
  content: "\201C";
  font-size: 68px;
  position: absolute;
  left: 0;
  top: 5px;
}

.block-pullquote blockquote:after {
  content: "\201D";
  font-size: 68px;
  position: absolute;
  bottom: -22px;
  right: 0;
}

.block-pullquote blockquote p {
  color: #333;
  font-size: 32px !important;
  font-style: normal;
  font-weight: bold;
  line-height: 1.15em;
  padding: 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table-of-contents ul li.pdf {
  width: 15%;
}

.table-of-contents ul li.pdf a {
  background-image: -webkit-linear-gradient(top, #C52927 50%, #871A22);
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .table-of-contents {
    padding-left: 192px;
  }

  .table-of-contents ul li a {
    font-size: 12px !important;
    padding: 10px 20px 13px 20px;
  }

  .block-cover span {
    bottom: 150px !important;
    font-size: 50px !important;
  }

  .block-photo.alignment-bl img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: -60px;
    width: 65%;
  }

  .block-photo.alignment-br img {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: -60px;
    width: 65%;
  }
}

@media only screen and (max-width: 673px) {
  .table-of-contents {
    display: none !important;
  }

  .financials {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 32px;
  }

  p {
    font-size: 16px;
  }

  header h1 {
    margin-left: 10px;
  }

  .block {
    padding: 0 5% 0 15% !important;
  }

  .block-cover,
  .block-photo,
  .block-video {
    padding: 0 !important;
    width: 100% !important;
  }

  .block-photo p {
    padding: 0 20px 0 70px;
  }

  .block-cover span {
    bottom: 50px !important;
    font-size: 25px !important;
  }

  .block-pullquote blockquote {
    font-size: 24px !important;
    padding: 0 30px !important;
  }

  .block-pullquote blockquote:before,
  .block-pullquote blockquote:after {
    font-size: 54px;
  }

  .block-pullquote blockquote p {
    font-size: 24px !important;
  }

  .block-photo.alignment-bl img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
  }

  .block-photo.alignment-br img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header h1 {
    max-width: 75px;
  }

  .table-of-contents {
    padding-left: 120px;
  }

  .table-of-contents ul li a {
    font-size: 12px !important;
    padding: 10px 20px 13px 20px;
  }

  .block-photo p {
    padding: 0;
  }

  .block-cover span {
    bottom: 50px !important;
    font-size: 25px !important;
  }
}

/* ==================================================
	 6) Tomorrow Table of Content
	 ==================================================
				#????
	 ================================================== */

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

